@font-face {
  font-family: OpenSans-Light;
  src: url(./fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(./fonts/OpenSans-Regular.ttf);
}

/* BASE */
html, body {
  height: 100%;
}

body {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 50px;
}

a {
  color: rgb(0, 183, 255);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  margin: 0 auto 30px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

.subtitle {
  margin: 0 auto 20px;
  font-size: 25px;
  font-variant: small-caps;
}

.space-top {
  padding-top: 65px;
}

.space-top-double {
  padding-top: 115px;
}

.center {
  text-align: center;
}

.block-center {
  display: block;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-underline:hover {
  text-decoration: none !important;
}

.row {
  margin: 0;
}

.container-fill {
  width: 100%;
  height: 100%;
}

.row-fill {
  height: 100%;
}

.full-height {
  height: 100%;
}

.bottom-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: 0;
}

label {
  margin: auto auto 0 5px;
  line-height: 45px;
  font-weight: normal;
}

select {
  width: 100%;
  border: none;
}

spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner {
  left: 50% !important;
  top: 17px !important;
  height: 45px;
}

.appinvisible {
  visibility: hidden;
}

.appinvisible * {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/* BOOTSTRAP */
.modal-footer {
  margin-top: 0;
}

.modal-body {
  max-height: 250px;
  overflow-y: auto;
}

.modal-body p {
  margin: 0;
}

.btn-default {
  background-color: rgb(230, 230, 230);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: rgb(220, 220, 220);
}

.modal-content {
  border-radius: 0;
}

input[type="file"] {
  display: inline-block;
}

.progress {
  padding: 0;
  border-radius: 0;
}

.pagination {
  float: right;
}

.pagination li a {
  border-radius: 0 !important;
}

.primary .pagination li:not(.disabled):not(.active) a    { color: rgb(255, 29, 37);    }
.secondary .pagination li:not(.disabled):not(.active) a  { color: rgb(63, 169, 245);   }
.tertiary .pagination li:not(.disabled):not(.active) a   { color: rgb(255, 147, 30);   }
.quaternary .pagination li:not(.disabled):not(.active) a { color: rgb(122, 201, 67);   }
.quinary .pagination li:not(.disabled):not(.active) a    { color: rgb(255, 108, 164);  }

.pagination .active a,
.pagination .active a:hover {
  color: rgb(255, 255, 255);
  border-color: transparent;
}

.primary .pagination .active a    { background-color: rgba(254, 80, 81, 0.7);   }
.secondary .pagination .active a  { background-color: rgba(95, 182, 245, 0.7);  }
.tertiary .pagination .active a   { background-color: rgba(255, 168, 72, 0.7);  }
.quaternary .pagination .active a { background-color: rgba(141, 209, 97, 0.7);  }
.quinary .pagination .active a    { background-color: rgba(255, 149, 189, 0.7); }


/* MODALS */
.modal-mini-title {
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.modal-mini-paragraphs {
  margin-bottom: 15px !important;
  padding: 0 !important;
}

.modal-mini-close {
  height: 45px;
  line-height: 45px;
}

.modal-btn-plus {
  width: 80% !important;
  padding: 0 !important;
  float: none;
}


/* NAVTOP */
.navtop-container {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
}

.navbar-brand {
  color: rgb(0, 0, 0) !important;
}

.navtop-icon {
  vertical-align: bottom;
}

.navtop-toggle-button {
  border: none;
  outline: none;
}

.navtop-toggle-button:hover,
.navtop-toggle-button:active {
  background-color: rgb(238, 238, 238) !important;
  border-radius: 0 0;
  border-color: white !important;
}

.navtop-toggle-button:hover .icon-bar {
  color: rgb(255, 255, 255) !important;
}

.navtop-item {
  background-repeat: no-repeat;
  background-position: 0 50px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.navtop-item a {
  color: rgb(0, 0, 0) !important;
}

.navtop-items-list .active {
  background-position: 0 48px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: inherit;
}

.navtop-items-list .active:nth-child(1) > a { color: rgb(255, 29, 37) !important;   }
.navtop-items-list .active:nth-child(2) > a { color: rgb(63, 169, 245) !important;  }
.navtop-items-list .active:nth-child(3) > a { color: rgb(255, 147, 30) !important;  }
.navtop-items-list .active:nth-child(4) > a { color: rgb(122, 201, 67) !important;  }
.navtop-items-list .active:nth-child(5) > a { color: rgb(255, 108, 164) !important; }

.navtop-item:hover {
  background-position: 0 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgb(0, 0, 0);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: rgb(238, 238, 238);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: white;
}

.dropdown-menu > li > span {
  padding: 3px 20px;
  text-transform: lowercase;
}

.navtop-items-list .navtop-item.open > a {
  color: white !important;
}

.navtop-items-list .navtop-item .dropdown-menu a:hover {
  color: white !important;
}

.navtop-items-list .navtop-item:nth-child(1) .dropdown-menu a:hover { background-color: rgb(255, 29, 37);   }
.navtop-items-list .navtop-item:nth-child(2) .dropdown-menu a:hover { background-color: rgb(63, 169, 245);  }
.navtop-items-list .navtop-item:nth-child(3) .dropdown-menu a:hover { background-color: rgb(255, 147, 30);  }
.navtop-items-list .navtop-item:nth-child(4) .dropdown-menu a:hover { background-color: rgb(122, 201, 67);  }
.navtop-items-list .navtop-item:nth-child(5) .dropdown-menu a:hover { background-color: rgb(255, 108, 164); }

.navtop-items-list .navtop-item:nth-child(1),
.navtop-items-list .navtop-item:nth-child(1).open > a {
  background-image: -webkit-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
  background-image: -moz-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
  background-image: -o-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
  background-image: -ms-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
}

.navtop-items-list .navtop-item:nth-child(2),
.navtop-items-list .navtop-item:nth-child(2).open > a {
  background-image: -webkit-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
  background-image: -moz-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
  background-image: -o-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
  background-image: -ms-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
}

.navtop-items-list .navtop-item:nth-child(3),
.navtop-items-list .navtop-item:nth-child(3).open > a {
  background-image: -webkit-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
  background-image: -moz-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
  background-image: -o-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
  background-image: -ms-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
}

.navtop-items-list .navtop-item:nth-child(4),
.navtop-items-list .navtop-item:nth-child(4).open > a {
  background-image: -webkit-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
  background-image: -moz-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
  background-image: -o-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
  background-image: -ms-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
}

.navtop-items-list .navtop-item:nth-child(5),
.navtop-items-list .navtop-item:nth-child(5).open > a {
  background-image: -webkit-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
  background-image: -moz-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
  background-image: -o-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
  background-image: -ms-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
}


/* CONTENT */
.content-container {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 65px;
  background-color: rgb(240, 240, 240);
}

.content-container:nth-child(2) {
  background-color: rgb(240, 240, 240);
}

.content-container:nth-child(3) {
  background-color: rgb(255, 255, 255);
}

.content-container:nth-child(4) {
  color: white;
  background-color: rgb(50, 50, 50);
}

.content-container:nth-child(5) {
  background-color: rgb(244, 244, 244);
}

.content-container:nth-child(6) {
  background-color: rgb(255, 255, 255);
}


/* TABS */
.nav-tabs {
  margin: 0 0 11px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

.nav-tabs .active a {
  background-color: transparent;
}

.primary .nav-tabs    { border-color: rgb(255, 29, 37);   }
.secondary .nav-tabs  { border-color: rgb(63, 169, 245);  }
.tertiary .nav-tabs   { border-color: rgb(255, 147, 30);  }
.quaternary .nav-tabs { border-color: rgb(122, 201, 67);  }
.quinary .nav-tabs    { border-color: rgb(255, 108, 164); }

.primary .sign-nav-item {
  background-image: -webkit-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
  background-image: -moz-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
  background-image: -o-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
  background-image: -ms-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
}

.secondary .sign-nav-item {
  background-image: -webkit-linear-gradient(rgb(95, 182, 245), rgb(95, 182, 245));
  background-image: -moz-linear-gradient(rgb(95, 182, 245), rgb(95, 182, 245));
  background-image: -o-linear-gradient(rgb(95, 182, 245), rgb(95, 182, 245));
  background-image: -ms-linear-gradient(rgb(95, 182, 245), rgb(95, 182, 245));
}

.tertiary .sign-nav-item {
  background-image: -webkit-linear-gradient(rgb(255, 168, 72), rgb(255, 168, 72));
  background-image: -moz-linear-gradient(rgb(255, 168, 72), rgb(255, 168, 72));
  background-image: -o-linear-gradient(rgb(255, 168, 72), rgb(255, 168, 72));
  background-image: -ms-linear-gradient(rgb(255, 168, 72), rgb(255, 168, 72));
}

.quaternary .sign-nav-item {
  background-image: -webkit-linear-gradient(rgb(141, 209, 97), rgb(141, 209, 97));
  background-image: -moz-linear-gradient(rgb(141, 209, 97), rgb(141, 209, 97));
  background-image: -o-linear-gradient(rgb(141, 209, 97), rgb(141, 209, 97));
  background-image: -ms-linear-gradient(rgb(141, 209, 97), rgb(141, 209, 97));
}

.quinary .sign-nav-item {
  background-image: -webkit-linear-gradient(rgb(255, 149, 189), rgb(255, 149, 189));
  background-image: -moz-linear-gradient(rgb(255, 149, 189), rgb(255, 149, 189));
  background-image: -o-linear-gradient(rgb(255, 149, 189), rgb(255, 149, 1891));
  background-image: -ms-linear-gradient(rgb(255, 149, 189), rgb(255, 149, 189));
}

.primary .nav-tabs .active a    { color: rgb(255, 29, 37) !important;   }
.secondary .nav-tabs .active a  { color: rgb(63, 169, 245) !important;  }
.tertiary .nav-tabs .active a   { color: rgb(255, 147, 30) !important;  }
.quaternary .nav-tabs .active a { color: rgb(122, 201, 67) !important;  }
.quinary .nav-tabs .active a    { color: rgb(255, 108, 164) !important; }

.sign-nav-item {
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: 0 40px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.sign-nav-item:hover {
  background-position: 0 0;
}

.sign-nav-item:hover a,
.sign-nav-item:hover.active a {
  color: rgb(255, 255, 255) !important;
}

#sign-nav a {
  color: rgb(100, 100, 100);
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
}


/* FOOTER */
footer {
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
}

.footer-description {
  margin: 0;
}

.footer-icon {
  color: rgb(255, 29, 37);
}

.footer-link,
.footer-link:hover {
  color: rgb(255, 255, 255);
}


/* FORMS */
.input-prepend {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0 0 11px;
  padding: 10px 45px 10px 0;
  color: rgb(0, 0, 0);
  font: 100 15px/20px "OpenSans-Light";
  white-space: nowrap;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.input-prepend-file {
  height: auto;
  padding-left: 10px;
}

.input-icon {
  float: left;
  display: block;
  width: 15px;
  margin: auto 10px auto 10px;
  color: rgb(230, 230, 230);
  text-align: center;
  line-height: 25px;
}

.input-text {
  width: 100%;
  color: rgb(0, 0, 0);
  line-height: 22px;
  border: none;
  background-color: transparent;
}

.btn {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  color: white;
  text-transform: uppercase;
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  line-height: 45px;
  border: none;
  border-radius: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: white;
}

.modal .btn {
  width: auto;
}

.modal .btn-big {
  font-size: 22px;
}

.multiple-input input[type="radio"] {
  margin-top: 16px;
  margin-bottom: 16px;
}

.primary-btn    { background-color: rgb(254, 80, 81);   }
.secondary-btn  { background-color: rgb(95, 182, 245);  }
.tertiary-btn   { background-color: rgb(255, 168, 72);  }
.quaternary-btn { background-color: rgb(141, 209, 97);  }
.quinary-btn    { background-color: rgb(255, 149, 189); }

.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
  background-color: rgb(255, 29, 37);
}

.secondary-btn:hover,
.secondary-btn:focus,
.secondary-btn:active {
  background-color: rgb(63, 169, 245);
}

.tertiary-btn:hover,
.tertiary-btn:focus,
.tertiary-btn:active {
  background-color: rgb(255, 147, 30);
}

.quaternary-btn:hover,
.quaternary-btn:focus,
.quaternary-btn:active {
  background-color: rgb(122, 201, 67);
}

.quinary-btn:hover,
.quinary-btn:focus,
.quinary-btn:active {
  background-color: rgb(255, 108, 164);
}

.primary .input-prepend-active    { border-color: rgb(255, 29, 37);    }
.secondary .input-prepend-active  { border-color: rgb(63, 169, 245);   }
.tertiary .input-prepend-active   { border-color: rgb(255, 147, 30);   }
.quaternary .input-prepend-active { border-color: rgb(122, 201, 67);   }
.quinary .input-prepend-active    { border-color: rgb(255, 108, 164);  }

.option-default {
  color: rgb(170, 170, 170);
}


/* TABLES */
.grid-view-table-container {
  /*height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: calc(100% - 50px);*/
  overflow-y: auto;
}

#grid-view-msg {
  margin-top: 100px;
  text-align: center;
}

td {
  padding: 5px;
  white-space: nowrap;
}

thead {
  color: rgb(150, 150, 150);
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.primary thead     { color: rgb(255, 29, 37);    }
.secondary thead   { color: rgb(63, 169, 245);   }
.tertiary thead    { color: rgb(255, 147, 30);   }
.quaternary thead  { color: rgb(122, 201, 67);   }
.quinary thead     { color: rgb(255, 108, 164);  }

th {
  padding: 5px;
  font-weight: normal;
  white-space: nowrap;
}

th:first-child {
  width: 100%;
}

tbody tr {
  height: 40px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

td:first-child {
  font-variant: small-caps;
  font-size: 15px;
  cursor: pointer;
}

td:first-child span {
  line-height: 30px;
}

.primary td:first-child     { color: rgb(255, 29, 37);    }
.secondary td:first-child   { color: rgb(63, 169, 245);   }
.tertiary td:first-child    { color: rgb(255, 147, 30);   }
.quaternary td:first-child  { color: rgb(122, 201, 67);   }
.quinary td:first-child     { color: rgb(255, 108, 164);  }

.primary tbody tr:not(.itemActive):hover    { background-color: rgba(254, 80, 81, 0.1);   }
.secondary tbody tr:not(.itemActive):hover  { background-color: rgba(95, 182, 245, 0.1);  }
.tertiary tbody tr:not(.itemActive):hover   { background-color: rgba(255, 168, 72, 0.1);  }
.quaternary tbody tr:not(.itemActive):hover { background-color: rgba(141, 209, 97, 0.1);  }
.quinary tbody tr:not(.itemActive):hover    { background-color: rgba(255, 149, 189, 0.1); }

.table-icon {
  width: 25px;
  margin-right: 5px;
  vertical-align: bottom;
}

td:first-child span:hover {
  text-decoration: underline;
}

.primary .itemActive    { background-color: rgba(254, 80, 81, 0.7);   }
.secondary .itemActive  { background-color: rgba(95, 182, 245, 0.7);  }
.tertiary .itemActive   { background-color: rgba(255, 168, 72, 0.7);  }
.quaternary .itemActive { background-color: rgba(141, 209, 97, 0.7);  }
.quinary .itemActive    { background-color: rgba(255, 149, 189, 0.7); }


/* COLORS */
.primary .highlight,
.primary .subtitle {
  color: rgb(255, 29, 37);
}

.secondary .highlight,
.secondary .subtitle {
  color: rgb(63, 169, 245);
}

.tertiary .highlight,
.tertiary .subtitle {
  color: rgb(255, 147, 30);
}

.quaternary .highlight,
.quaternary .subtitle {
  color: rgb(122, 201, 67);
}

.quinary .highlight,
.quinary .subtitle {
  color: rgb(255, 108, 164);
}


/* ACTION BARS */
.action-bar {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.action-bar-left {
  float: left;
  padding: 0;
  margin: 0;
}

.action-bar-right {
  float: right;
  padding: 0;
  margin: 0;
}

.action-bar-icon {
  float: left;
  width: 23px;
  height: 30px;
  margin-right: 2px;
}

.action-bar-item {
  float: left;
  display: block;
  height: 30px;
  padding: 0 5px;
  color: rgb(50, 50, 50);
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}

.action-bar-item:hover {
  color: rgb(255, 255, 255);
}

.primary .action-bar-item:hover     { background-color: rgb(255, 29, 37);   }
.secondary .action-bar-item:hover   { background-color: rgb(63, 169, 245);  }
.tertiary .action-bar-item:hover    { background-color: rgb(255, 147, 30);  }
.quaternary .action-bar-item:hover  { background-color: rgb(122, 201, 67);  }
.quinary .action-bar-item:hover     { background-color: rgb(255, 108, 164); }

.action-bar-item:hover .action-bar-icon svg path,
.action-bar-item:hover .action-bar-icon svg rect,
.action-bar-item:hover .action-bar-icon svg polygon {
  fill: rgb(255, 255, 255);
}

@media screen and (max-width: 770px) {
  .action-bar-item span {
    display: none;
  }
}

@media screen and (max-width: 1020px) and (min-width: 990px) {
  .action-bar-item span {
    display: none;
  }
}

.action-bar-separator {
  float: left;
  display: block;
  height: 20px;
  border-right: solid 1px rgb(50, 50, 50);
  margin: 5px;
}

.itemActive td:first-child {
  color: white !important;
}