.band-white {
  margin-top: -30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.disabled:not(span),
.disabled:not(span) * {
  background-color: rgb(240, 240, 240);
}

span.disabled {
  color: rgb(200, 200, 200);
}