body {
  background-color: rgb(240, 240, 240);
}

tspan {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
}

.chart-directive {
  display: block;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(255, 255, 255);
}

.chart-directive svg > text:last-child > tspan {
  display: none;
}

.map-directive a[href="http://www.ammap.com/javascript-maps/"] {
  display: none !important;
}

.chart {
  min-width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-right: 1px;
}

.gauge-chart {
  height: 200px;
}

.map-directive {
  width: 1000px;
  height: 650px;
  margin:0 auto;
}

.chart-border-red     { border-top: 3px solid rgb(255, 29, 37);     }
.chart-border-green   { border-top: 3px solid rgb(122, 201, 67);    }
.chart-border-blue    {  border-top: 3px solid rgb(63, 169, 245);   }
.chart-border-orange  {  border-top: 3px solid rgb(255, 147, 30);   }
.chart-border-grey    {  border-top: 3px solid rgb(150, 150, 150);  }
.chart-border-black   { border-top: 3px solid rgb(50, 50, 50);      }

.stats-bloc {
  height: 100px;
  color: white;
}

.stats-title {
  margin: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px;
}

.stats-nb {
  margin: 0;
  color: rgb(255, 255, 255);
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  padding-left: 10px;
}

.stats-img {
  position: absolute;
  right: 45px;
  top: 25px;
  font-size: 40px;
  width: 70px;
}

.stats-bloc-red     {   background-color: rgb(255, 29, 37);   }
.stats-bloc-grey    {   background-color: rgb(200, 200, 200); }
.stats-bloc-blue    {   background-color: rgb(63, 169, 245);  }
.stats-bloc-black   {   background-color: rgb(50, 50, 50);    }
.stats-bloc-orange  {   background-color: rgb(255, 147, 30);  }
.stats-bloc-green   {   background-color: rgb(122, 201, 67);  }