<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CubbyHole - Dashboard</title>
    <link rel="stylesheet" href="src/lib/bootstrap/bootstrap-3.0.3-complete.min.css" />
    <link rel="stylesheet" href="styles/font-awesome/font-awesome-4.0.3.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="src/charts/charts.css" />
  </head>

  <body id="ng-app" ng-app="dashboardApp" data-target=".navtop-items-container">

    <header class="navbar navbar-inverse navbar-fixed-top navtop-container" role="banner">
      <div class="container" ng-controller="NavbarCtrl">

        <div class="navbar-header">
          <button class="navbar-toggle navtop-toggle-button" data-toggle="collapse" data-target=".bs-navbar-collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"><i class="navtop-icon fa fa-th"></i> Cubbyhole</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse navtop-items-container" ng-if="getProfile() !== undefined && getProfile() !== null" role="navigation">
          <ul class="nav navbar-nav navbar-right navtop-items-list">
            <li class="navtop-item" ng-class="{ active: isActive('/users')}">
              <a href="index.html#/users">Users</a>
            </li>
            <li class="navtop-item" ng-class="{ active: isActive('/plans')}">
              <a href="index.html#/plans">Plans</a>
            </li>
            <li class="navtop-item" ng-class="{ active: isActive('/locations')}">
              <a href="index.html#/locations">Locations</a>
            </li>
            <li class="navtop-item dropdown">
              <a data-toggle="dropdown" href="">Me &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><span ng-bind="getProfile().email"></span></li>
                <li><a href="index.html#/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <nav class="collapse navbar-collapse bs-navbar-collapse navtop-items-container" ng-if="getProfile() === undefined || getProfile() === null" role="navigation">
          <ul class="nav navbar-nav navbar-right navtop-items-list">
            <li class="navtop-item active">
              <a href="">Home</a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    <ng-view></ng-view>

    <spinner ng-show="displaySpinner"></spinner>

    <modal error id="errormodal" modal-opts="modalOpts" modalform="modalform" modal-color="'primary'"></modal>

    <script src="src/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="src/lib/bootstrap/bootstrap-3.0.3-complete.min.js"></script>
    <script src="src/lib/spinjs/spin.js"></script>
    <script src="src/lib/angular/angular.min.js"></script>
    <script src="src/lib/angular/angular-animate.min.js"></script>
    <script src="src/lib/angular/angular-resource.min.js"></script>
    <script src="src/lib/angular/angular-route.min.js"></script>
    <script src="src/lib/angular/angular-sanitize.min.js"></script>
    <script src="src/lib/highcharts/highcharts-3.0.10.js"></script>
    <script src="src/app.js"></script>
    <script src="src/common/services/apiService.js"></script>
    <script src="src/common/directives/spinner.js"></script>
    <script src="src/common/directives/navigate.js"></script>
    <script src="src/common/modal/modal.js"></script>
    <script src="src/common/error/error.js"></script>
    <script src="src/common/controllers/navbar.js"></script>
    <script src="src/login/login.js"></script>
    <script src="src/logout/logout.js"></script>
    <script src="src/plans/plans.js"></script>
    <script src="src/users/users.js"></script>
    <script src="src/locations/locations.js"></script>
    <script src="src/charts/donutChart.js"></script>
  </body>
</html>